 .contactInfo{
	margin-top:50px;
}


 .singleInfo {
	background: #1a76d1;
	padding: 40px 60px;
	height: 150px;
	border-radius: 10px;
	position:relative;
	-webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
 .singleInfo:before{
	position: absolute;
    z-index: -1;
    content: '';
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    background:#1A76D1;
    opacity: 0;
    filter: blur(10px);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
 .singleInfo:hover:before{
	opacity: 0.8;
}
 .singleInfo:hover{
	transform: translateY(-5px);
}
 .singleInfo i{
	font-size:42px;
	color:#fff;
	position:absolute;
	left:40px;
}
 .singleInfo .content {
	margin-left: 45px;
}
 .singleInfo .content h3{
	color:#fff;
	font-size:18px;
	font-weight:600;
	
}
 .singleInfo .content p{
	color:#fff;
	margin-top:5px;
}
@media only screen and (max-width: 768px) {
    .singleInfo {
        margin: 10px 0;
    }
}