.getQuote{
	margin-top:12px;
	text-align: right;
}
.getQuote .btn{
	color:#fff;
	padding: 13px 22px;
}
.style2 .getQuote {
	margin-top: 0;
}

@media screen and (max-width: 768px) {
	.getQuote{
		display: none;
	}
}